h1
{
	font-size: 2em;

}

body
{
	margin: auto;
}

	.gif{ 
		background-image: url("https://media.giphy.com/media/xnscj78AnbBm/giphy.gif");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 100%;
		background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;

			 }